extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sally Poulsen

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm an experienced designer and developer with ten years' experience in custom WordPress theme and plugin development, as well as a student in Treehouse's Full Stack Javascript TechDegree program.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Vanilla JS
          li Node
          li jQuery
          li OOJS
          li Express 
          li Git
          li Code Reviews
          
        h6 Contact Info

        ul
          li sally@thecreativetemp.com

        a.button.expanded(href='https://www.linkedin.com/in/sally-poulsen/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/kidcompassion' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/sallypoulsen' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  